.background {
    width: 100%;
    height: 100%;
    background-image: url("images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Add other styles as needed */
}

.hidden {
    display: none;
  }

.about-me-container {
    overflow-y: scroll;
    max-height: 300px;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-pic {
    height: 250px;
    width: 190px;
}

.socials-container {
    display: flex;
    flex-direction: column;
}

.socials-liner {
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.social {
    display: flex;
    margin: 10px;
}

.username {
    margin-left: 10px;
    margin-top: 5px;
}

.myself-container {
    overflow-y: scroll;
    max-height: 300px;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.music-container {
    overflow-y: scroll;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
    width: 300px;
    max-height: 280px;
}

.background-blur:hover {
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74px; /* Same width as the .exe div */
    height: 84px; /* Same height as the .exe div */
    backdrop-filter: blur(8px); /* Apply blur effect and adjust color */
    background-color: rgba(255,255,255,.3);; /* Specify the color of the background blur */
    -webkit-backdrop-filter: blur(8px); /* For Safari */
}


.exe {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 84px;
    width: 74px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
.exe-icon {
    margin-top: 10px;
    height: 54px;
    width: 54px;
}

.icon {
    width: 32px;
    height: 32px;
}

/* For Tablet View */
@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
        .background {
            width: 100%;
            height: 100%;
            background-image: url("images/wallpaper.jpg");
            background-repeat: no-repeat;
            background-position: 60% 10%;
            background-size: auto;
            overflow: hidden;
        }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
        .background {
            width: 100%;
            height: 100%;
            background-image: url("images/wallpaper.jpg");
            background-repeat: no-repeat;
            background-position: 60% 10%;
            background-size: auto;
            overflow: hidden;
        }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) 
    and (orientation: landscape) {
        .background {
            width: 100%;
            height: 100%;
            background-image: url("images/wallpaper.jpg");
            background-repeat: no-repeat;
            background-position: 60% 10%;
            background-size: auto;
            overflow: hidden;
        }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen
    and (max-device-width: 640px) {
        .background {
            width: 100%;
            height: 100%;
            background-image: url("images/wallpaper.jpg");
            background-repeat: no-repeat;
            background-position: 60% 10%;
            background-size: auto;
            overflow: hidden;
        }
}
